@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  color: black;
  letter-spacing: 5px;
}
a:hover {
  background-color: rgba(182, 232, 227, 0.427);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }
}
footer {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #fff;
  background-color: black;
  padding: 2REM;
}

.pie H3 {
  font-size: xx-large;
  font-weight: bolder;
}
.pie P {
  font-size: smaller;
  font-weight: lighter;
}

.icono-redes {
  padding: 2rem;
}
.icono-redes svg {
  width: auto;
  height: 100%;
}

.contenedor-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 232, 227);
}

@media (min-width: 767px) {
  /* Estilos para dispositivos móviles */
  .contenedor-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tabletas */
  .contenedor-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  /* Estilos para escritorio */
  .contenedor-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  }
}
.subtitulo {
  margin: 2rem;
  text-align: center;
}

.subtitulo h3 {
  font-size: 1.2rem;
}

.simbolo {
  font-size: 8rem; /* Span */
}

.aviso {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
.aviso h2 {
  text-align: center;
  margin-top: 2rem;
}
.aviso h4 {
  text-align: center;
  margin: 2rem;
}

/* SERVICIOS */
.display-1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

svg {
  width: 15%;
  height: 30%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.titulo {
  font-weight: bolder;
  padding-top: 2rem;
}

.descripcion {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
}

.bg-custom__primario {
  background-color: rgb(182, 232, 227);
}

.bg-custom__secundario {
  background-color: rgba(179, 137, 131, 0.189);
}

@media (max-width: 575px) {
  .container {
    width: 65%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
    height: auto;
  }
}
.row img {
  padding: 4rem;
}

@media (max-width: 575px) {
  .container {
    width: auto;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: auto;
    height: auto;
  }
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  font-size: xx-large;
  text-transform: lowercase;
  margin-top: 2rem;
}

.campo {
  margin-left: 2rem;
}
.campo input {
  font-size: medium;
  text-transform: lowercase;
  border-color: rgb(182, 232, 227);
  border: none;
  border-bottom: solid;
  background-color: #fff;
}
.campo textarea {
  border: 0;
  font-size: x-large;
  background-color: #fff;
}

.boton {
  font-size: large;
  margin-top: 1rem;
}
.boton input {
  background-color: rgba(211, 234, 232, 0.375);
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: rgb(182, 232, 227);
  border-radius: 10%;
}

.container-fluid img {
  border-radius: 50%;
}

h5 {
  font-weight: bolder;
}

h6 {
  margin-bottom: 2rem;
}/*# sourceMappingURL=main.css.map */