@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

li:hover {
  background-color: rgb(182, 232, 227);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }
  li:hover {
    background-color: rgb(182, 232, 227);
  }
}
footer {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  color: #fff;
  background-color: black;
  padding: 1rem;
}

/*estamos en contacto!*/
.pie H3 {
  font-size: xx-large;
  font-weight: bolder;
  margin-right: 10rem;
  padding: 1rem;
}
.pie P {
  font-size: smaller;
  font-weight: lighter;
  padding-bottom: 2rem;
  margin-left: 0.5rem;
}

.icono-redes {
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}
.icono-redes svg {
  width: auto;
  height: auto;
  padding-bottom: 2rem;
}
.icono-redes p {
  margin-left: 1rem;
  margin-right: 0.1rem;
}

.contenedor-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 232, 227);
}

@media (min-width: 766px) {
  /* Estilos para dispositivos móviles */
  .contenedor-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contenedor-hero img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 766px) and (orientation: landscape) {
  .contenedor-hero img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
  }
  .contenedor-hero img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 766px) and (max-width: 1200px) {
  /* Estilos para tabletas */
  .contenedor-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-hero img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 1200px) {
  /* Estilos para escritorio */
  .contenedor-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-hero img {
    width: 900px;
  }
}
.subtitulo {
  margin: 2rem;
  text-align: center;
}

.subtitulo h3 {
  font-size: 1.2rem;
}

/* Span */
.simbolo {
  font-size: 8rem;
  animation: appear 3.6s infinite; /* La animación 'appear' dura 2.6 segundos y se repite infinitamente */
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes appear {
  0% {
    opacity: 0; /* Comienza con una opacidad de 0 (invisible) */
  }
  50% {
    opacity: 1; /* Aumenta la opacidad a 1 (totalmente visible) a la mitad de la animación */
  }
  100% {
    opacity: 0; /* Regresa la opacidad a 0 al final de la animación */
  }
}
.aviso {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
.aviso h2 {
  text-align: center;
  margin-top: 2rem;
}
.aviso h4 {
  text-align: center;
  margin: 2rem;
}

.cartas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  margin-top: 0.5rem;
}

@media (min-width: 766px) {
  /* Estilos para dispositivos móviles */
  .cartas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .cartas .card {
    padding: 1rem;
  }
}
/* SERVICIOS */
.display-1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

svg {
  width: 15%;
  height: 30%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.titulo {
  font-weight: bolder;
  padding-top: 2rem;
}

.descripcion {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
}

.bg-custom__primario {
  background-color: rgb(182, 232, 227);
}

.bg-custom__secundario {
  background-color: rgba(179, 137, 131, 0.189);
}

@media (max-width: 575px) {
  .container {
    width: 65%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
    height: auto;
  }
}
.testimonios h5, .reconocimientos h5 {
  background-color: rgb(182, 232, 227);
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  padding: 0.5rem;
}
.testimonios p, .reconocimientos p {
  background-color: rgba(211, 234, 232, 0.375);
  padding: 0.25rem;
}
.testimonios iframe, .reconocimientos iframe {
  margin-bottom: 2rem;
}

@media (min-width: 766px) {
  .testimonios {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 766px) {
  .reconocimientos {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
.row img {
  padding: 4rem;
}

@media (max-width: 575px) {
  .container {
    width: auto;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: auto;
    height: auto;
  }
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  font-size: xx-large;
  text-transform: lowercase;
  margin-top: 2rem;
}

.campo {
  margin-left: 2rem;
}
.campo textarea {
  border: 0;
  font-size: x-large;
  background-color: #fff;
}

input {
  font-size: medium;
  text-transform: lowercase;
  border-color: rgb(182, 232, 227);
  border: none;
  border-bottom: solid;
  background-color: #fff;
}

.container-fluid img {
  border-radius: 50%;
}

h5 {
  font-weight: bolder;
}

h6 {
  margin-bottom: 2rem;
}

.boton-pildora {
  color: black;
  min-width: 200px;
  min-height: 30px;
  border: solid 0.3rem rgba(233, 230, 230, 0.582);
  border-radius: 15%;
  background-color: rgb(182, 232, 227) !important;
  margin-bottom: 1rem;
}/*# sourceMappingURL=main.css.map */