@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li:hover {
  background-color: rgb(182, 232, 227);
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .navbar-brand {
    padding-right: 5rem;
  }
  ul {
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  li {
    font-size: larger;
    font-weight: bold;
    margin-right: 1.5rem;
  }
  li:hover {
    background-color: rgb(182, 232, 227);
  }
}
footer {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #fff;
  background-color: black;
  padding: 1rem;
  padding-top: 3rem;
}

.pie H3 {
  font-weight: bolder;
}
.pie P {
  padding-top: 2rem;
  font-size: larger;
  font-weight: lighter;
}

.icono-redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icono-redes svg {
  width: 25px;
  height: auto;
  justify-content: right;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 50%;
  margin-top: 25%;
}
.icono-redes p {
  font-size: medium;
  padding: 1rem;
  text-align: right;
  margin-top: 25%;
}

@media (min-width: 768px) {
  .icono-redes {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .icono-redes svg {
    padding: 0;
    margin-left: 5%;
  }
  .icono-redes p {
    font-size: medium;
    padding: 1rem;
    text-align: right;
  }
}
.contenedor-hero {
  height: 400px;
}

.contenedor-hero3 .zoom-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: zoomLoop 4s alternate;
}

@keyframes zoomLoop {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(0.2);
  }
}
.contenedor-hero3 {
  /*  background: linear-gradient(180deg, rgb(207, 140, 175) 50%, rgba(0, 255, 179, 0.312) 90%,  rgba(255, 204, 0, 0.312) 0%); 
    */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 1rem;
}
.contenedor-hero3 img {
  width: 100%;
  height: 20%;
}
.contenedor-hero3 h1 {
  padding: 0.5rem;
  color: #fff;
  font-weight: bolder;
  font-size: larger;
  letter-spacing: 0.3rem;
}
.contenedor-hero3 p {
  color: #fff;
  font-size: medium;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}
.contenedor-hero3 input {
  color: #fff;
  font-size: medium;
  text-transform: lowercase;
  font-weight: lighter;
  padding: 0.2rem;
  width: 125px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border: solid 2px #fff;
  background-color: transparent;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
  }
  .contenedor .contenedor-hero {
    height: 100%;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  .contenedor .contenedor-hero3 {
    border: solid 4px white;
    border-radius: 5%;
    padding: 0;
    background: rgb(74, 92, 155);
    background: linear-gradient(324deg, rgb(74, 92, 155) 35%, rgb(0, 255, 179) 100%);
  }
  .contenedor .contenedor-hero3 img {
    margin-top: 1rem;
    opacity: 1;
  }
  .contenedor .contenedor-hero3 h1 {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: large;
    color: white;
  }
  .contenedor .contenedor-hero3 p {
    padding: 0.5rem;
    font-size: small;
  }
  .contenedor .contenedor-hero3 input {
    padding: 0.1rem;
    color: rgb(0, 255, 179);
    border-color: rgb(0, 255, 179);
    font-size: small;
    width: 120px;
    background-color: rgb(74, 92, 155);
    margin: 1rem;
  }
}
@media (min-width: 948px) {
  .contenedor .contenedor-hero3 h1 {
    font-size: larger;
    color: #fff;
  }
  .contenedor .contenedor-hero3 p {
    font-size: medium;
  }
}
@media (min-width: 1200px) {
  .contenedor .contenedor-hero3 h1 {
    font-size: xx-large;
  }
  .contenedor .contenedor-hero3 p {
    font-size: large;
  }
  .contenedor .contenedor-hero3 input {
    font-size: large;
  }
}
.carta-box {
  position: relative;
  perspective: 1000px;
}

.carta-box:hover .carta {
  transform: rotateY(180deg);
  margin: 0;
  padding: 0;
}

.carta {
  padding: 1rem;
  margin: 0;
  width: 100%;
  height: 100px;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  background-color: rgba(132, 28, 28, 0.333);
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}
.cara p {
  padding-right: 1rem;
  font-size: medium;
  line-height: 1rem;
  letter-spacing: 4px;
}

.cara.detras {
  transform: rotateY(180deg);
}
.cara.detras p {
  padding: 1rem;
}

@media (min-width: 768px) {
  .carta-box {
    position: relative;
    perspective: 1000px;
  }
  .carta-box:hover .carta {
    transform: rotateY(180deg);
  }
  .carta {
    padding: 2rem;
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    background-color: rgba(132, 28, 28, 0.333);
  }
  .cara {
    position: absolute;
    backface-visibility: hidden;
  }
  .cara p {
    padding-top: 0;
    text-align: center;
    font-size: x-large;
    line-height: 3rem;
    margin-top: 4.4rem;
    letter-spacing: 6px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .cara.detras {
    transform: rotateY(180deg);
  }
  .cara.detras p {
    padding-top: 4rem;
  }
}
/* .css_transform { 

	border: 1px #000 solid;
	background-color: rgba(255,245,0,0.5);
	line-height: 200px;
	text-align:center;

	transform: rotateY(180deg);
	transform-origin: 50% 50% 0px;
	animation: T-animation 3s linear normal;
    backface-visibility: hidden;
 } 
 @keyframes T-animation {
	0% {
		transform: rotateY(-180deg);
	}
	100% {
		transform: rotateY(180deg);
	}
} */
.contenedor-hero2 {
  /*     p{
          padding: 2rem;

          letter-spacing: 4px;
          margin-bottom: 0;
          background-color: $primary-color;
      } */
}
.contenedor-hero2 .programas {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  padding: 2rem;
}
.contenedor-hero2 .programas .programa-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.contenedor-hero2 .programas p {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  background: none;
  margin: 0;
  padding: 0.8rem;
  color: rgb(155, 74, 74);
}
.contenedor-hero2 .programas svg {
  width: 80px;
  height: 80px;
  border: 2px solid rgb(155, 74, 74);
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0;
}

@media (min-width: 768px) {
  .contenedor-hero2 .programas {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .contenedor-hero2 .programas svg {
    width: 120px;
    height: 120px;
    border: 2px solid;
    padding: 1rem;
    border-radius: 50%;
  }
}
@media (min-width: 1200px) {
  .contenedor-hero2 {
    /*  p{  
         color: black;
         font-size: x-large;
         padding: 4rem;
         padding-top: 5rem;
         letter-spacing: .8rem;
         line-height: 200%;
         padding-left:20% ;
         padding-right:20% ;
     } */
  }
  .contenedor-hero2 .programas {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .contenedor-hero2 .programas svg {
    width: 90px;
    height: 90px;
    border: 2px solid;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .contenedor-hero2 .programa-texto p {
    margin-top: -1rem;
    font-size: large;
    padding: 1.3rem;
  }
}
.eligenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: black;
  padding: 2rem;
}
.eligenos .display-3 {
  letter-spacing: 8px;
  font-size: x-large;
  color: aqua;
}
.eligenos .display-6 {
  color: rgb(0, 240, 255);
  font-size: large;
}
.eligenos input {
  color: rgb(74, 92, 155);
  font-size: medium;
  text-transform: lowercase;
  font-weight: lighter;
  padding: 0.2rem;
  width: 120px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  border: solid 2px rgb(74, 92, 155);
  border-radius: 10px;
  background-color: transparent;
}

.cartas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.card {
  margin-top: 0.5rem;
}

@media (min-width: 740px) {
  /* Estilos para dispositivos móviles */
  .cartas {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .cartas .card {
    margin: 2.6rem;
  }
}
@media (min-width: 1200px) {
  /* Estilos para dispositivos móviles */
  .cartas {
    display: flex;
    flex-direction: row;
  }
}
.aviso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(74, 92, 155);
  font-size: x-large;
  font-weight: bolder;
  padding: 2rem;
  padding-bottom: 1rem;
  background-color: rgb(0, 255, 179);
}
.aviso .aviso-2 {
  text-align: right;
  margin-left: 20%;
}
.aviso input {
  color: rgb(74, 92, 155);
  font-size: medium;
  text-transform: lowercase;
  font-weight: lighter;
  padding: 0.2rem;
  width: 120px;
  margin-bottom: 3rem;
  margin-top: 0.2rem;
  border: solid 2px rgb(74, 92, 155);
  border-radius: 10px;
  background-color: transparent;
}

@media (min-width: 768px) {
  .aviso p {
    margin-left: 10%;
  }
  .aviso-2 {
    margin-right: 10%;
  }
}
@media (min-width: 1000px) {
  .aviso p, .aviso-2 {
    margin: 0;
    padding: 1;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .aviso input {
    margin-top: 2rem;
  }
}
/* SERVICIOS */
.display-1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

svg {
  width: 15%;
  height: 30%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.titulo {
  font-weight: bolder;
  padding-top: 2rem;
}

.descripcion {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
}

.bg-custom__primario {
  background-color: rgba(132, 28, 28, 0.333);
}

.bg-custom__secundario {
  background-color: rgba(179, 137, 131, 0.189);
}

@media (max-width: 575px) {
  .container {
    width: 65%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 60%;
    height: auto;
  }
}
.testimonios h5, .reconocimientos h5 {
  background-color: rgba(132, 28, 28, 0.333);
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  padding: 0.5rem;
}
.testimonios p, .reconocimientos p {
  background-color: rgba(211, 234, 232, 0.375);
  padding: 0.25rem;
}
.testimonios iframe, .reconocimientos iframe {
  margin-bottom: 2rem;
}

@media (min-width: 766px) {
  .testimonios {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 766px) {
  .reconocimientos {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 575px) {
  .container {
    width: auto;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: auto;
    height: auto;
  }
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  font-size: xx-large;
  text-transform: lowercase;
  margin-top: 2rem;
}

.campo {
  margin-left: 2rem;
}
.campo textarea {
  border: 0;
  font-size: x-large;
  background-color: #fff;
}

input {
  font-size: medium;
  text-transform: lowercase;
  border-color: rgba(132, 28, 28, 0.333);
  border: none;
  border-bottom: solid;
  background-color: #fff;
}

.container-fluid img {
  border-radius: 50%;
}

h5 {
  font-weight: bolder;
}

h6 {
  margin-bottom: 2rem;
}

.boton-pildora {
  color: black;
  min-width: 200px;
  min-height: 30px;
  border: solid 0.3rem rgba(233, 230, 230, 0.5803921569);
  border-radius: 15%;
  background-color: rgba(132, 28, 28, 0.333) !important;
  margin-bottom: 1rem;
}/*# sourceMappingURL=main.css.map */