footer{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    color: $base-color;
    background-color: $body-color;
    padding: 1rem;
}
.pie{
    & H3{
        font-size: xx-large;
        font-weight: bolder;
    }
    & P{
        font-size: smaller;
        font-weight: lighter;
    }
}
.icono-redes{
    & svg {
        width: auto;
        height: auto;
    }
}