footer{
    display: grid;
    grid-template-columns: 50% 50%;
    color: $base-color;
    background-color: $body-color;
    padding: 2REM;
}
.pie{
    & H3{
        font-size: xx-large;
        font-weight: bolder;
    }
    & P{
        font-size: smaller;
        font-weight: lighter;
    }

}
.icono-redes{
    padding: 2rem;
    & svg {
        width: auto;
        height: 100%;
    }

}