// Estilos del pie de página


footer{
    background-color: $body-color;
    color: $base-color;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.pie{
    display: flex;
    align-items: center;

    & h3{
        font-size: 3.2rem;
        display: flex;
        flex-direction: column;
        margin-right: 10rem;
    }
}
.icono-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & svg{
        width: 5%;
        height: 5%;
    }
    & p{
        margin-left: 8rem;
    }
}