// Estilos del encabezado

.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    .navbar-brand{
        img{
            margin-left: .7rem;
        }
    }
    
    
}


@media (min-width: 768px) {
    .container-fluid{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    
       
    
    }
    
  
}


 


/* // Estilos del encabezado
.container-fluid{
    
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    ul{
        li{

        }
        li:hover{
            background-color: $primary-azul;
        }
    }
    
}
 */


/* .navbar-toggler{
    color: $primary-azul;
    padding-top: .5rem;
    margin-bottom: 1rem;
    background-color: $base-color;
    border: solid .5rem $primary-azul;
    border-radius: 20%; 

}


 */