// Estilos del encabezado
header{
    display: block;
}

@media (min-width: 768px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content:center;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        list-style: none;
    }
    li:hover{
        background-color: $link-hover-color;
    }
}

