
body{
    margin: 1rem;
    box-shadow:  1px 1px 20px rgb(18, 1, 83);
}
// variables, colores//


$primary-color: rgba(132, 28, 28, 0.333);
$primaryl-color: rgba(211, 234, 232, 0.375);
$secondary-color: rgba(179, 137, 131, 0.189);
$contrast-color: blueviolet;
$base-color: #fff;
$body-color: black;
$text-color: black;
$link-color: black;
$link-hover-color:  rgb(182, 232, 227);
$sepia-color: #e9e6e694;
$ocre-color: rgb(41, 16, 5);


$primary-rojo:  rgba (155, 74, 74, 100%);
$primary-rojo1: rgba(155, 74, 74, 100%);
$primary-cyan: rgba(0, 240, 255, 100%);
$primary-verde: rgba(0, 255, 179, 100%);
$primary-azul: rgba(74, 92, 155, 100%);
$primary-violet: rgb(120, 65, 171);

$secondary-azul: rgba(103, 132, 229, 0.403);
$secondary-verde: rgb(90, 198, 165);
