// .contenedor-hero{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     background: linear-gradient(to top, $primary-color, $sepia-color);
//     img{
//         object-fit: contain;
//     }

  
// }

// @media (min-width: 766px) {
//     /* Estilos para dispositivos móviles */
//     .contenedor-hero {
//       display: flex;
//       flex-direction: row; 
//       justify-content: center;
//       align-items: center; 
     
//        img{
//         object-fit: contain;
//        }
//     }
// }
// @media (max-width: 766px) and (orientation: landscape) {
//     .contenedor-hero img {
//       display: flex;
//       flex-direction: row; 
//       justify-content: center;
//       align-items: center;
//       width: auto;
//       height: 100%;
//       img{
//         object-fit: contain;
//       }
//     }
// }

// @media (min-width: 766px) and (max-width: 1200px) {
//     /* Estilos para tabletas */
//     .contenedor-hero {
//         display: flex;
//         flex-direction: row; 
//         justify-content: space-evenly;
//         align-items: center; 
//         img{
//             object-fit: contain;
//         }
//       }
// }
  
// @media (min-width: 1200px) {
//     /* Estilos para escritorio */
//     .contenedor-hero {
//         display: flex;
//         flex-direction: row; 
//         justify-content: space-evenly;
//         align-items: center; 
//         img{
//             width: 900px;
//         }
//     }
// }
// .subtitulo{
//    margin: 2rem;
//    text-align: center;
   
// }
// .subtitulo h3{
//     font-size: 1.2rem;
// }
// /* Span */
// .simbolo{
//     font-size: 8rem; 
//     animation: appear 3.6s infinite; /* La animación 'appear' dura 2.6 segundos y se repite infinitamente */
//     color: $base-color;
//     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
       
// } 

// @keyframes appear {
//     0% {
//     opacity: 0; /* Comienza con una opacidad de 0 (invisible) */
//     }
//     50% {
//     opacity: 1; /* Aumenta la opacidad a 1 (totalmente visible) a la mitad de la animación */
//     }
//     100% {
//     opacity: 0; /* Regresa la opacidad a 0 al final de la animación */
//     }
// }
// .aviso{
//     color: $base-color;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
    
    
//     & h2{
//         line-height: 1rem;
//         text-align: center;
//         margin-top: 4rem;
//         margin-bottom: 2rem;
//     }
//     & p{
//         font-size: larger;
//         text-align: center;
//         padding-left: 25%;
//         padding-right: 25%;

//     }
// }
// .cartas{
// display: flex;
// flex-direction: column;
// align-items: center;
// margin-top: 1rem;
// margin-bottom: 1rem;
// }
// .card{
//     margin-top: .5rem;     
// }
// @media (min-width: 766px) {
//     /* Estilos para dispositivos móviles */
//     .cartas{
//         display: flex;
//         flex-direction: row;
//         justify-content: space-evenly;
//         align-items: center;
        
//         & .card{
//             padding: 1rem;
//         }
//     }
    
// }



.contenedor-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}
.subtitulo{
   margin: 2rem;
   text-align: center;
}
.subtitulo h3{
    font-size: 1.2rem;
}
.simbolo{  
    font-size: 10rem; /* Span */
} 

.aviso{
    color: $base-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $contrast-color;
    & h2{
        text-align: center;
        margin-top: 2rem;
    }
    & h4{
        text-align: center;
        margin: 2rem;

    }
}
@media (max-width: 767px) {
    /* Estilos para dispositivos móviles */
    .contenedor-hero {
      max-width: 100%;
      height: auto;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tabletas */
    .contenedor-hero {
        display: flex;
        flex-direction: row;

    }
}
  
@media (min-width: 1024px) {
    /* Estilos para escritorio */
    .contenedor-hero {
        display: flex;
        flex-direction: row;

    }
}

/* Span */
.simbolo{
    font-size: 8rem; 
    animation: appear 3.6s infinite; /* La animación 'appear' dura 2.6 segundos y se repite infinitamente */
    color: $base-color;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
       
} 

@keyframes appear {
    0% {
    opacity: 0; /* Comienza con una opacidad de 0 (invisible) */
    }
    50% {
    opacity: 1; /* Aumenta la opacidad a 1 (totalmente visible) a la mitad de la animación */
    }
    100% {
    opacity: 0; /* Regresa la opacidad a 0 al final de la animación */
    }
}
.aviso{
    color: $base-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    & h2{
        line-height: 1rem;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    & p{
        font-size: larger;
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;

    }
}
.cartas{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 1rem;
margin-bottom: 1rem;
}
.card{
    margin-top: .5rem;     
}
@media (min-width: 766px) {
    /* Estilos para dispositivos móviles */
    .cartas{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
        & .card{
            padding: 1rem;
        }
    }
    
}