.contenedor-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}
@media (min-width: 766px) {
    /* Estilos para dispositivos móviles */
    .contenedor-hero {
      display: flex;
      flex-direction: row; 
      justify-content: center;
      align-items: center; 
     
      img{
        object-fit: contain;
    }
    }
}
@media (max-width: 766px) and (orientation: landscape) {
    .contenedor-hero img {
      display: flex;
      flex-direction: row; 
      justify-content: center;
      align-items: center;
      width: auto;
      height: 100%;
      img{
        object-fit: contain;
      }
    }
}

@media (min-width: 766px) and (max-width: 1200px) {
    /* Estilos para tabletas */
    .contenedor-hero {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        align-items: center; 
        img{
            object-fit: contain;
        }
      }
}
  
@media (min-width: 1200px) {
    /* Estilos para escritorio */
    .contenedor-hero {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        align-items: center; 
        img{
            width: 900px;
        }
    }
}
.subtitulo{
   margin: 2rem;
   text-align: center;
}
.subtitulo h3{
    font-size: 1.2rem;
}
@keyframes appear {
    0% {
      opacity: 0; /* Comienza con una opacidad de 0 (invisible) */
    }
    50% {
      opacity: 1; /* Aumenta la opacidad a 1 (totalmente visible) a la mitad de la animación */
    }
    100% {
      opacity: 0; /* Regresa la opacidad a 0 al final de la animación */
    }
}
/* Span */
.simbolo{
      
    font-size: 8rem; 
    color: $contrast-color;
  
    
    animation: appear 2.6s infinite; /* La animación 'appear' dura 2 segundos y se repite infinitamente */
    
      
      
} 

.aviso{
    color: $base-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $contrast-color;
    & h2{
        text-align: center;
        margin-top: 2rem;
    }
    & h4{
        text-align: center;
        margin: 2rem;

    }
}
