/* SERVICIOS */
.display-1{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
svg{
    width: 15%;
    height: 30%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.titulo{
    font-weight: bolder;
    padding-top: 2rem;
}
.descripcion{
    
    margin-left:1rem ;
    margin-right:1rem ;
    padding-bottom: 2rem;
}
.bg-custom__primario{
    background-color: $primary-color;
}
.bg-custom__secundario{
    background-color: $secondary-color;
}
@media (max-width: 575px) {
    .container{
        width: 65%;
        height: auto;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 60%;
        height: auto;
    }
}
